/* Custom Discord Background */

body {
    background-image: url("https://raw.githubusercontent.com/diddlerpatrick71-cmyk/Twelve/refs/heads/main/6e6df8e5ce4353bacbd8dad9cf077345.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.bg__960e4 {
    background: transparent !important;
}

.theme-dark {
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-tertiary: transparent !important;
    --background-floating: rgba(0,0,0,0.5) !important;
}

/* Make major panels transparent */
.chat__52833,
.sidebar__409e8,
.panels__58331,
.container__01ae2 {
    background: transparent !important;
}
