/* Custom Discord Background */

.appMount__51fd7 {
    background-image: url("https://raw.githubusercontent.com/diddlerpatrick71-cmyk/Twelve/refs/heads/main/6e6df8e5ce4353bacbd8dad9cf077345.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

/* Make Discord transparent so the image shows */
.bg__960e4 {
    background: transparent !important;
}

.theme-dark {
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
}
